name: CICD

on:
  # push:
  #   branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      build-type:
        type: choice
        description: Build type
        options:
          - None
          - Patch
          - Minor
          - Major
        required: true

jobs:
  build:
    runs-on: [self-hosted]

    steps:
      - uses: actions/checkout@v4
      - name: Build
        shell: pwsh
        run: Invoke-Build -Version ${{ github.event.inputs.build-type }}

  publish:
    runs-on: [self-hosted]

    steps:
      - uses: actions/checkout@v4
      - name: Publish
        shell: pwsh
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: Invoke-Build Publish
